<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.mathgame.master"
    version         = "1.0.0">
    <supports-screens android:anyDensity="true" android:resizeable="true" 
    android:smallScreens="true" 
    android:normalScreens="true" 
    android:largeScreens="true" 
    android:xlargeScreens="true" />
    <!-- versionCode is optional and Android only -->
    <name>Math Master</name>
    <description>
       Math Master to Learn some good Meth Puzzles with Intresting Game
    </description>
    <gap:splash src="splash.png" />
    <gap:platform name="android" />
<icon src="ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="xhdpi.png" gap:platform="android" gap:density="xhdpi" />
<icon src="xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
    <author href="" email="cooltarunsharma111@gmail.com">
        Tarun Sharma 
    </author>
</widget>

