<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.mathgame.master"
    version         = "1.0.0">
    <!-- versionCode is optional and Android only -->
    <name>Math Master</name>
    <description>
       Math Master to Learn some good Meth Puzzles with Intresting Game
    </description>
    <gap:splash src="splash.png" />
    <gap:platform name="android" />
    <icon src="res/drawable-hdpi/icon.png" gap:platform="android" gap:density="ldpi" />
    <author href="" email="cooltarunsharma111@gmail.com">
        Tarun Sharma 
    </author>
</widget>

